body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1488540314531-4e38f7e42d4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdhdGl2ZXwlNWR4OGY4NmEwfHx8fA&auto=format&fit=crop&w=1350&q=80"); /* Replace with your desired background image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hearts {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.heart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    animation-name: move;
    animation-duration: 3s; /* Adjust animation duration for bounce effect */
    animation-iteration-count: infinite;
    background-color: #e0245e;
}

.heart:nth-child(2) {
    animation-delay: 1s;
}

.heart:nth-child(3) {  
    animation-delay: 2s;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% { /* Adjust these values to control bounce height */
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
